<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Tournaments</title>
</head>
<body>

<div th:replace="navbar:: header"></div>

<div class="d-flex justify-content-center mt-3">

    <button class="btn text-light  btn-lg" style="background-color: green;" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Create New Tournament
    </button>
</div>
<h3 class="d-flex justify-content-center mt-3">Tournaments</h3>
<div class="container">
    <div class="row bg-dark text-light p-3 rounded-top">
        <div class="col-3">Name</div>
        <div class="col-2">Date</div>
        <div class="col">Venue</div>
        <div class="col-2">Sport Type</div>
        <div class="col">Winner</div>
        <div class="col-1"></div>
    </div>
    <div class="row align-items-center p-3 border border-1" th:each="tournament: ${tournamentList}">
        <div class="col-3" th:text="${tournament.tournamentName}"></div>
        <div class="col-2 " th:text="${tournament.startDate}"></div>
        <div class="col " th:text="${tournament.venue}"></div>
        <div class="col-2 " th:text="${tournament.sportType}"></div>
        <div class="col ">-</div>
        <div class="col-1"><a th:href="'tournament/'+${tournament.id}" class="btn btn-secondary">View</a></div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-light " style="background-color: green;">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">New Tournament</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/tournaments}" th:object="${tournamentRegisterDto}">
                    <input name="tournamentName" class="form-control m-1" type="text"
                           placeholder="Enter Tournament name"
                           required th:field="*{tournamentName}"/>
                    <select name="sportType" class="form-select m-1" aria-label="Default select example"
                            th:field="*{sportType}">
                        <option th:each="type: ${sportsTypes}" th:text="${type}" th:value="${type}"></option>
                    </select>
                    <div class="input-group date m-1" data-provide="datepicker" name="startDate"
                         th:field="${tournamentRegisterDto.startDate}">
                        <input name="startDate" type="date" class="form-control" placeholder="Start Date" required>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <input type="text" placeholder="Enter the venue" name="venue" class="m-1 form-control"
                           required th:field="${tournamentRegisterDto.venue}"/>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>